---
// server side code at build time
import Lineform from './components/icon1.astro'
import Speaker from './components/icon2.astro'
import List from './components/icon3.astro'
import Volume from './components/icon4.astro'
import Wave from './components/icon5.astro'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Animated SVG Icon Set</title>
	</head>
	<body>

		<!-- Load icons as separate components -->
		<div class="icon-grid">
			<Lineform />
			<Speaker />
			<List />
			<Volume />
			<Wave />
		</div>

	</body>
</html>
